<!DOCTYPE html>
<html>

<head>
  <title>Du Lịch Hải Phòng</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="container">
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills pull-right">

          {{#if user}}
          <li role="presentation" class="lbl-dash"><a href="/dashboard">Bảng điều khiển</a></li>
          <li role="presentation" class="lbl-logout"><a href="/users/logout">Đăng xuất</a></li>



          {{else}}
          <li role="presentation"><a href="/users/login">Đăng nhập</a></li>
          <li role="presentation"><a href="/users/register">Đăng ký</a></li>
          {{/if}}


        </ul>
      </nav>
      <h3 class="text-muted label-database">CƠ SỞ DỮ LIỆU DU LỊCH HẢI PHÒNG</h3>
    </div>



    <div class="row">
      <div class="col-lg-12">
        {{#if success_msg}}
        <div class="alert alert-success">{{success_msg}}</div>
        {{/if}}
        {{#if error_msg}}
        <div class="alert alert-danger">{{error_msg}}</div>
        {{/if}}
        {{#if error}}
        <div class="alert alert-danger">{{error}}</div>
        {{/if}}
        <div class="col-md-6 offset-md-3" style="background-color: #fff;margin-top: 25px;padding:20px;">
          {{{body}}}
        </div>
      </div>


    </div>

    <footer class="footer">
      <p>&copy; 2019 DATABASE, Inc.</p>
    </footer>

  </div> <!-- /container -->
</body>

</html>