<h3>{{viewTitle}}</h3>

<form action="/touristDestination" method="POST" autocomplete="off">
    <input type="hidden" name="_id" value="{{touristDestination._id}}">
    <div class="form-group">
        <label>Tên đầy đủ :</label>
        <input type="text" class="form-control" name="Name" placeholder="Nhập tên" value="{{touristDestination.Name}}">
        <div class="text-danger">
            {{touristDestination.NameError}}
        </div>
    </div>
    <div class="form-group">
        <label>Thông Tin :</label>
        <input type="text" class="form-control" name="Info" placeholder="Nhập thông tin"
            value="{{touristDestination.Info}}">
        <div class="text-danger">
            {{touristDestination.InfoError}}
        </div>
    </div>
    <div class="form-group">
        <label>Loại :</label>
        <select class="form-control" name="Loai">
            {{#each destinationType}}
            <option>{{this.maLoai}}</option>
            {{/each}}
        </select>
    </div>
    <div class="form-group">
        <label>Đường dẫn ảnh :</label>
        <input type="text" class="form-control" name="img_url" placeholder="Nhập đường dẫn"
            value="{{touristDestination.img_url}}">
    </div>
    <div class="form-group">
        <label>Mô tả :</label>
        <input type="text" class="form-control" name="detail" placeholder="Nhập mô tả"
            value="{{touristDestination.detail}}">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info"> Xác nhận</button>
        <a class="btn btn-success" href="/touristDestination/list"><i class="fa fa-list-alt"></i> Xem toàn bộ</a>
        <a class="btn btn-primary" href="/dashboard">Trở về</a>
    </div>
</form>