<h3 class="lbl-review">Danh sách các đánh giá của du khách
    <a class="btn btn-info btn-create" href="/review/create"><i class="fa fa-plus"></i> Thêm mới</a>
    <a class="btn btn-primary btn-back" href="/dashboard"> Trở về</a></h3>

<table class="table table-bordered table-dark table-hover tbl-review">
    <thead>
        <tr>
            <th>Tên người đánh giá</th>
            <th>Nội dung đánh giá</th>
            <th>Loại</th>
            <th class="date-review">Ngày đánh giá</th>
            <th class="detail">Mô tả</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.Name}}</td>
            <td>{{this.Comment}}</td>
            <td>{{this.Loai}}</td>
            <td>{{this.RatingDate}}</td>
            <td>{{this.detail}}</td>
            <td>
                <a class="btn btn-primary" href="/review/modify/{{this._id}}"><i class="fa fa-pencil fa-lg"
                        aria-hidden="true"></i> Sửa</a>
                <a class="btn btn-success" href="/review/delete/{{this._id}}"
                    onclick="return confirm('Bạn muốn xóa bản ghi này ?');"><i class="fa fa-trash fa-lg"
                        aria-hidden="true"></i> Xóa</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>