<h3 class="lbl-user">Danh sách người dùng
    <a class="btn btn-info btn-add" href="/users/create"><i class="fa fa-plus"></i> Thêm mới</a>
    <a class="btn btn-primary btn-back" href="/dashboard"> Trở về</a></h3>
</h3>
<table class="table table-bordered table-dark table-hover tbl-user">
    <thead>
        <tr>
            <th>Name</th>
            <th>User Name</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.username}}</td>
            <td>{{this.email}}</td>

            <td>
                <a class="btn btn-primary" href="/users/modify/{{this._id}}"><i class="fa fa-pencil fa-lg"
                        aria-hidden="true"></i> Sửa</a>
                <a class="btn btn-success" href="/users/delete/{{this._id}}"
                    onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg"
                        aria-hidden="true"></i> Xóa</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>